a.active {
  font-weight: 500;
}

a.active::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ff020a;
  border-radius: 50%; /* To make it a circle */
  margin-right: 5px; /* Adjust spacing if needed */
}
